<h2>All registered patients</h2>
<br />
<div class="row">
  <div class="col-md-12"> 
    <p>
      <%= link_to 'Add Patient Profile', new_patient_path %>
    </p>
    <div class="table-responsive">
      <table class="table table-hover table-striped table-responsive-md btn-table">
        <thead class="thead-light">
          <tr>
            <th scope="col">Name</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% @patients.each do |patient| %>
            <tr>
              <td><%= patient.name %></td>
              <td><%= link_to 'Show', patient_path(patient) %></td>
              <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
              <td><%= link_to 'Destroy', patient_path(patient),
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>