<h1>Available Doctors</h1>
 
 <p>
    <%= link_to 'Add Doctor Profile', new_doctor_path %>
 </p>
<table>
  <tr>
    <th>Name</th>
    <th>Birth date</th>
    <th>Proficiency Level</th>
    <th>Practice since</th>
    <th></th>
  </tr>
 
  <% @doctors.each do |doctor| %>
    <tr>
      <td><%= doctor.name %></td>
      <td><%= doctor.birthdate %></td>
      <td><%= doctor.level %></td>
      <td><%= doctor.practicestartyear %></td>
      <td><%= link_to 'Show', doctor_path(doctor) %></td>
      <td><%= link_to 'Edit', edit_doctor_path(doctor) %></td>
      <td><%= link_to 'Destroy', doctor_path(doctor),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>