<!DOCTYPE html>
<html>
  <head>
    <title>Msdentalshop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Bootstrap core CSS -->
    <!-- Custom fonts for this template -->
    <!-- Custom styles for this template -->
    <!-- Navigation -->
    <%= yield %>
    <!-- Footer -->
    <!-- Bootstrap core JavaScript -->
    <!-- Plugin JavaScript -->
    <!-- Custom scripts for this template -->
  </body>
</html>
