<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= content_for?(:title) ? yield(:title) : "Msdentalshop" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Dental Clinic" %>">
    <meta name="author" content="" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="page-body"> <!-- page-fade -->
    <div class="page-container">
      <%= render partial: "layouts/sidebar" %>

      <div class="main-content">

        <%= render partial: "layouts/header" %>
        <!-- Bootstrap core CSS -->
        <!-- Custom fonts for this template -->
        <!-- Custom styles for this template -->
        <!-- Navigation -->
        <%= yield %>
        <!-- Footer -->
        <!-- Bootstrap core JavaScript -->
        <!-- Plugin JavaScript -->
        <!-- Custom scripts for this template -->

        <%= render partial: "layouts/footer" %>
      </div>
    </div>
  </body>
</html>
